.mouse-images {
  object-fit: cover;
  text-align: center;
}

@media (max-width: 980px) {
  .mouse-images {
    max-width: 100%;
    height: auto;
  }
}

.mouse-images__image {
  max-width: 100%;
  margin: 0 auto;
}
